@font-face{
  font-family: Graphik;
  src:url(../../../public/Graphik-Black-Trial.otf);
}
.sidebar{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:195px;
    justify-content:center;
}
.sidebar-content{
    width:95%;
    height:100vh;
    margin-top:2px;
    background-color:rgb(241, 239, 239);
    border:10px solid white;
    z-index:5005;
    padding:5px             ;
    border-radius:3px;
}
.top-section{
    border-bottom:5px solid white;
    height:50px;
    padding:10px 10px;
}
.menu-icon{
    display:flex;
    justify-content:right;
    padding-right:20px;
    cursor:pointer;
}

/**************************************************/

  .layout {
    display: flex;
  }
  main {
    width: 100%;
    padding: 20px;
    color: #ccc;
  }

  .sidebar-item {
    padding: 0.75em 1em;
    display: block;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    background-color: whitesmoke;
    transition: background-color 0.15s;

  }
  
  .s-parent {
    border-bottom: 2px solid #ccc;
  }
  
  .sidebar-item:hover {
    background-color: #eee;
   
  }
  
  .sidebar-title {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-title span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    transition: all 0.5s;
    font-size: 1.2rem;
  }
  
  .sidebar-title span .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7em;
    font-size: 16px;
  }
  
  .sidebar-title .arrow-icon {
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .sidebar-item.open > .sidebar-title .arrow-icon {
    transform: rotate(90deg);
  }
  
  .s-content {
    padding-top: 0.25em;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .s-content {
    height: auto;
  }
  
  .s-child {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  .s-child:hover {
    border: 1px solid #034862;
  }
  
  .a{
    color: #034862;
    text-decoration: none;
    font-style: none;
    transition: all 0.2s;
    font-weight: bold;
  }
  .b{
    color: rgb(139, 3, 3);
  }
  .active {
    color: rgb(139, 3, 3);
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #eee;
    
  }
 
  .active::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: 0;
    top: 0;
    background-color:rgb(139, 3, 3);
  }
  
  .sublink .sidebar-item .sidebar-title {
    padding-left: 40px;
  }