@font-face{
    font-family: Graphik;
    src:url(../../../public/Graphik-Black-Trial.otf);
  }
.containers{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color: #034862;
    justify-content:space-between;
    padding:20px 20px;
    z-index:5001;  
    position:fixed;
}

.logo{
    cursor:pointer;
    height:120px;
    margin-left: 70px;
    z-index:5005;
    cursor:pointer;
}
.user-profil{
    padding :2px;
    height:100%;
    border-radius:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:white;
    border:2px solid gray;
    margin-right: 60px;
    z-index:5005;
    cursor:pointer;
}
.username{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.username p{
    color:white;
    font-weight: 400;
    font-size: 18px;
    
    margin-top:-20px;
}
