.catwaylist{
    color: #034862;
    width:100%;
    background-color:whitesmoke;
    padding:0px 70px;
    margin-left:0px;
    border:10px solid white;
    border-radius:0 0px 5px 5px;
}

.table-content{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:whitesmoke; 
    color:#8B1602;
    margin:20px 0;
}

.search{
    width: 100%;
    max-width: 300px;
}
table{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
    overflow-x: auto;
}
      
.t-table{
    border: 2px solid #62b0f5; 
    padding:20px 0;
    color: #034862;
    font-weight:bold;
    text-align:center;
    background-color:rgb(247, 229, 229);
}
           
th, td{
    vertical-align: center;
    text-align: center;
    padding: 8px;
    background-color: whitesmoke;
    font-size:17px;
}     
.icons{
    display: flex;
    justify-content:right;
    align-items: center;        
    padding-right: 38px;
    gap:55px;
    cursor: pointer;
    align-self: center;
}
  
.t-body{
    border-bottom: 1px solid lightblue;
    border-top: 1px solid lightblue;
}
.bg-items{
    cursor: pointer;
    background-color:whitesmoke;
}
.action{
    text-align:center;
    justify-content:right;
    padding-left:100px;
    text-align:right;
}
.voir{color:blue;
    margin-left:30px}
.edit{color:green;
margin-left:35px;}
.delet{color:red;
    margin-left:15px}
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    font-size: 0.8rem;
}
      
.pagination .page-num {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
    border: 1px solid #034862;
    margin: 2px;
    text-decoration:none;
}
      
.pagination .page-num:hover {
    color: white;
    background-color: #034862;
}
.activePage {
    color:white;
    background-color: #034862;
    border: 1px solid  #034862;
    height: 100%;
}  