.edit-profile-password{
    width:100%;
    height:60%;  
    display:flex;
    gap:5;
    flex-direction:column;
    z-index:7;
    margin-top:-120px;
    padding:20px;
    justify-content: center;
    align-tems:center;
}
.send-btn{
    margin-top:10px;
}
.input-pad{
    padding:5px;
    width:70%;
    margin-bottom:5px;
}
.edit-profile-password h3{
    color:#034862;
    text-align:left;
}