.main-block{
    height:100%;
}
.home-block{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color:#034862;
    
}
.home{
    display: flex;
    flex-direction: row;
    height:100%;
    
}
.header-container{
    z-index:5009;  
}
.home-container{
    width:40%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: white;
    border-bottom:2px solid rgba(51, 51, 51, 0.418);
    box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);
    z-index:5001;
}
.api-doc{
    display: flex;
    margin-right: 30px;
    color: rgb(4, 110, 110);
    font-weight: 400;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.docIcon{
    width:30px;
}
.api-doc{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.api-doc span{
    font-size:12px;
    font-weight:bold;
}
.logo1{
    height: 130px; 
    cursor:pointer;
}
.log{
    width: 40%;
    height: 90vh;
    padding-top:100px;
    background-color: white;
    margin-top:-10px;
    z-index:5007;
}
.presentation-container{
    width: 60%;
    height: 100vh;
    background-image:linear-gradient(rgb(23, 72, 72));
    padding: 0px;
    color: white;
    text-align: left;
    margin-top:-130px;
}
.presentation-container h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
    color: rgb(248, 203, 203);
    font-size:34px;
    text-align:left;
    margin-left:50px;
}
.presentation-container p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.3;
    margin-top: 30px;
    font-size:13px;
    margin-left:50px;
}
.presentation{
    width: 70%;
    padding: 0px;
}
.russel{
    height:500px;
    width:100%;
}
.btns{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; 
    text-decoration:none;
    margin-left:50px;
}
.btns:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(23, 72, 72);
}
.btn-links{
    margin-top: 70px;
}

/***************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-page{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 100vh;
    background-image:url("./russell2.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#034862;
    z-index:-1;

}
.bg-img{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background: linear-gradient(635deg, #034862, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0),#034862);
    backdrop-filter: blur(1px);
    padding:150px;
    z-index:5;
    display:flex;
    justify-content:center;
    align-items:center;
}
.preload{
    width: 100%;
    min-height: 100%;
    position: absolute; 
    background: linear-gradient(135deg, white, rgba(0, 0, 0, 0));
    z-index:5001;
    backdrop-filter: blur(20px);
    display:flex;
    justify-content:center;
    align-items:center;
}
