@font-face{
    font-family: Graphik;
    src:url(../../public/Graphik-Black-Trial.otf);
  }
.dashboards{
    width: 100%;
    display:flex;
    flex-direction:column;
    margin-left:800px;
    margin-top:-840px;
}

