@font-face{
    font-family: Graphik;
    src:url(../../public/Graphik-Black-Trial.otf);
  }
.dashboards{
    width: 100%;
    display:flex;
    color:white;   
    margin-left:400px;
    margin-top:-670px;
}

